# Site settings
title: PRA.gov

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

collections:
  pages:
    output: true
    permalink: /:path/

# Build settings
scripts:
  - assets/uswds/js/uswds.min.js
  - assets/js/bundle.js

styles:
  - assets/uswds/css/styles.css

exclude:
  - _js
  - _scss
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - node_modules
  - package-lock.json
  - package.json
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

keep_files:
  - assets/js
  - assets/uswds
