version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4-node-browsers

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install npm
          command: npm install
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: build site
          command: npm run build && bundle exec jekyll build
      - run:
          name: run tests
          command: bundle exec htmlproofer ./_site --check-html --allow-hash-href --empty-alt-ignore --disable-external
