<div class="usa-banner bg-base-dark">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-banner-inner">
        <div class="grid-col-auto">
          <img class="usa-banner-header-flag" src="{{ '/assets/uswds/img/favicons/favicon-57.png' | relative_url }}" alt="U.S. flag" />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner-header-text text-white">
            An official website of the United States government
          </p>
          <p class="usa-banner-header-action text-white text-no-underline" aria-hidden="true">
            Here’s how you know
          </p>
        </div>
        <button class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner-button-text text-white text-no-underline">Here's how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner-content usa-accordion-content  text-white" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner-guidance-gov tablet:grid-col-6">
          <img class="usa-banner-icon usa-media_block-img bg-white circle-5" src="{{ '/assets/uswds/img/icon-dot-gov.svg' | relative_url }}" alt="Dot gov" />
          <div class="usa-media_block-body">
            <p>
              <strong>The .gov means it’s official.</strong> <br />
              Federal government websites often end in .gov or .mil. Before
              sharing sensitive information, make sure you’re on a federal
              government site.
            </p>
          </div>
        </div>
        <div class="usa-banner-guidance-ssl tablet:grid-col-6">
          <img class="usa-banner-icon usa-media_block-img bg-white circle-5" src="{{ '/assets/uswds/img/icon-https.svg' | relative_url }}" alt="Https" />
          <div class="usa-media_block-body">
            <p>
              <strong>The site is secure.</strong> <br />
              The <strong>https://</strong> ensures that you are connecting to
              the official website and that any information you provide is
              encrypted and transmitted securely.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>