<footer class="usa-footer usa-footer--slim" role="contentinfo">
  {% unless page.no_top_link %}
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}

  <div class="footer-contact bg-base-light padding-y-1 line-height-sans-3 font-lang-4 text-ink">
    <div class="grid-container">
      <b>Contact:</b>
      <a href="https://pra.digital.gov/contact/" class="text-ink text-bold hover:text-no-underline">Get PRA Help</a> |
      <a href="mailto:%70%72%61@%6F%6D%62.%65%6F%70.%67%6F%76?subject=PRA%20Website:%20Site%20Feedback&body=Please%20fill%20out%20the%20information%20below%0A%0A%0AWhat%20were%20you%20trying%20to%20do?%0A%0A%0AGeneral%20Comments" class="text-ink text-bold hover:text-no-underline">
        Email us site feedback
      </a>
    </div>
  </div>

</footer>
