<footer class="usa-footer usa-footer--slim" role="contentinfo">
  {% unless page.no_top_link %}
  <div class="grid-container usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}
  <div class="usa-footer-secondary-section">
    <div class="grid-container">
      <div class="usa-footer-logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <img class="usa-footer-logo-img" src="{{ '/assets/img/eop-omb.png' | relative_url }}" alt="" />
        </div>
        <div class="grid-col-auto">
          <h3 class="usa-footer-logo-heading">Office of Information and Regulatory Affairs</h3>
        </div>
      </div>
    </div>
  </div>
</footer>