<footer class="usa-footer usa-footer--slim" role="contentinfo">
  {% unless page.no_top_link %}
  <div class="grid-container usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}
  <div class="usa-footer-primary-section">
    <div class="grid-container">
      <div class="usa-footer-logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <p class="usa-footer--text">PRA.gov’s content is maintained by <a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/">The Office of Information and Regulatory Affairs (OIRA)</a> and PRA officers across federal government.  This site is a product of <a href="https://10x.gsa.gov/">10x</a> and is supported by <a href="https://digital.gov/">Digital.gov.</a></p>
          <p class="usa-footer--text">Help us improve this site <a href="https://github.com/GSA/pra.gov">on GitHub.</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="usa-footer-secondary-section">
    <div class="grid-container">
      <div class="usa-footer-logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <img class="usa-footer-logo-img eop" src="{{ '/assets/img/eop-omb.png' | relative_url }}" alt="" />
        </div>
        <div class="grid-col-auto">
          <img class="usa-footer-logo-img digital-gov" src="{{ '/assets/img/digital-gov-logo--white.png' | relative_url }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
