<div
  id="glossary"
  class="glossary text-base-lightest bg-base-darkest margin-0 overflow-y-scroll padding-2 pin-right pin-y position-fixed width-card-lg z-top"
  aria-describedby="glossary-result"
  aria-hidden="true"
>
  <div class="display-flex flex-column flex-align-end">
    <button title="Close glossary" class="js-glossary-close">
      <img
        src="{{ '/assets/uswds/img/close-white.svg' | relative_url }}"
        alt="Hide glossary"
      />
    </button>
  </div>

  <h2>Glossary</h2>
  <label for="glossary-search" class="usa-label text-uppercase"
    >Search terms</label
  >
  <input
    id="glossary-search"
    class="js-glossary-search usa-input"
    type="text"
  />
  <span class="font-sans-xs display-block margin-bottom-2 margin-top-1"
    >Examples: receipt; Hybrid PAC</span
  >
  <div class="glossary__content" id="glossary-result">
    <ul class="js-glossary-list add-list-reset"></ul>
  </div>
</div>
