<!-- Global site tag (gtag.js) - Google Analytics -->
<meta name="google-site-verification" content="D3tEz8yACmIPfH1f8PQARpF1NDV5IP5_yuSmuGEm02M" />
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.code }}&agency={{ site.analytics.dap.agency }}&subagency={{ site.analytics.dap.subagency }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.analytics.google.code }}');
</script>
