<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{ '/' | relative_url }}" title="Home" aria-label="Home"> <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="{site.title}" width="193" /></a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner"><button class="usa-nav__close"><img src="{{ '/assets/uswds/img/close.svg' | relative_url }}" alt="close" /></button>

      {% assign primary_links = site.data.navigation %} {% if primary_links %}
      <ul class="usa-nav__primary usa-accordion">
        {% for _section in primary_links %}
        <li class="usa-nav__primary-item">
          <a class="{% if _section.class %}{{ _section.class }}{% else %} usa-nav__link {% endif %} {% if _section.href == page.permalink %} usa-current{% endif %}" href="{% if _section.external %}{{ _section.href }}{% else %}{{ _section.href | relative_url }}{% endif %}">
            <span>{{ _section.text }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item js-glossary-toggle">
            <a href="javascript:void(0)" class="icon-glossary">Glossary</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="{{ '/contact' | relative_url}}">Get PRA Help</a>
          </li>
        </ul>
        <form class="usa-search usa-search--small ">
          <div role="search">
            <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
            <input class="usa-input" id="extended-search-field-small" type="search" name="search">
            <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>