<div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
    <h3 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false"
            aria-controls="recruiting-federal-employee-contractors-only">
            You are recruiting and/or conducting research with federal employees (and contractors) only.
        </button>
    </h3>
    <div id="recruiting-federal-employee-contractors-only" class="usa-accordion__content usa-prose">
        <p class="margin-top-05">
            Federal employees and contractors (acting in their official capacity) are excluded from the definition of "persons" under the PRA, so you do not need clearance to conduct research with them about matters regarding their work.
            (<a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                href="https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/inforeg/PRAPrimer_04072010.pdf">Citation</a>)
        </p>
    </div>
    <h3 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false"
            aria-controls="recruiting-less-than-10-people">
            You are recruiting and/or conducting research with fewer than 10 members of the public (per "round" of research).
        </button>
    </h3>
    <div id="recruiting-less-than-10-people" class="usa-accordion__content usa-prose">
        <p class="margin-top-05">
            The PRA does not apply when you are conducting research with less than 10 members of the public. This limit applies per "round" of research, over a 12 month period. For example, if you are interviewing participants, conducting usability testing and then sending out a post-launch feedback survey in the course of developing a new product, each of these would be considered different "rounds" of research because they are intended to collect different information.
            (<a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                href="https://www.ecfr.gov/current/title-5/chapter-III/subchapter-B/part-1320/section-1320.3">Citation</a>)
        </p>
    </div>
    <h3 class="usa-accordion__heading">
        <button type="button" class="usa-accordion__button" aria-expanded="false"
            aria-controls="recruiting-at-public-event">
            You are gathering information at a public hearing, meeting or online equivalent.
        </button>
    </h3>
    <div id="recruiting-at-public-event" class="usa-accordion__content usa-prose">
        <p class="margin-top-05">
            (<a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                href="https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/inforeg/PRAPrimer_04072010.pdf">Citation</a>)
        </p>
    </div>
</div>