<table class="usa-table usa-table--stacked">
    <thead>
        <tr>
            <th scope="col">Description of research scenario</th>
            <th scope="col">Needs PRA clearance for recruitment?</th>
            <th scope="col">Needs PRA clearance for research?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th data-label="Description of research scenario" scope="row">
                A TTS UX Researcher is recruiting a few participants through word of mouth by connecting with a community organization they had previous contact with. They are planning to have unstructured conversations with 4-5 participants about whether they might find a new website feature useful or not.
            </th>
            <td data-label="Needs PRA clearance for recruitment?">
                <span class="text-bold">NO</span><br> (recruiting &lt;10 people)
            </td>
            <td data-label="Needs PRA clearance for research?">
                <span class="text-bold">NO</span><br> (&lt;10 people, unstructured conversation)
            </td>
        </tr>
        <tr>
            <th data-label="Description of research scenario" scope="row">
                A TTS Content Designer needs to recruit 20-30 people that are representative of the US population and will send out a screener survey asking demographic questions to some email listservs. They are planning to conduct moderated card sorting tests to get a better sense of participant's mental models.
            </th>
            <td data-label="Needs PRA clearance for recruitment?">
                <span class="text-bold">YES</span><br> (recruiting 10+ people w/ structured survey)
            </td>
            <td data-label="Needs PRA clearance for research?">
                <span class="text-bold">NO</span><br> (direct observation, unstructured conversation)
            </td>
        </tr>
        <tr>
            <th data-label="Description of research scenario" scope="row">
                A TTS Product Manager is conducting an anonymous customer satisfaction survey (meaning they won't collect any Personally Identifiable Information) and expects between 50-100 participants to fill it out.
            </th>
            <td data-label="Needs PRA clearance for recruitment?">
                <span class="text-bold">NO</span><br> (not collecting PII)
            </td>
            <td data-label="Needs PRA clearance for research?">
                <span class="text-bold">YES</span><br> (10+ members of the public, no direct observation, structured)
            </td>
        </tr>
        <tr>
            <th data-label="Description of research scenario" scope="row">
                A TTS UX Designer has to test the accessibility of their website and needs to recruit participants with and without disabilities. They are planning to conduct 12-15 usability tests (which will not require PRA clearance) and send a follow-up survey to participants afterwards (which will require PRA clearance).
            </th>
            <td data-label="Needs PRA clearance for recruitment?">
                <span class="text-bold">YES</span><br> (recruiting 10+ people)
            </td>
            <td data-label="Needs PRA clearance for research?">
                <span class="text-bold">YES</span><br> (for the structured survey, not for usability testing)
            </td>
        </tr>
    </tbody>
</table>