<aside class="usa-layout__docs-sidenav desktop:grid-col-3">
  <div class="font-serif-sm">In this section:</div>
  <nav>
    <ul class="usa-sidenav font-family-sans font-sans-2xs">
      {% assign _url = page.url | split: '/' %}
      {% assign _parent_dir = _url[1] %}
      {% for _page in site.pages %}
      {% if _page.url contains _parent_dir %}
      <li class="usa-sidenav__item">
        <a href="{{ _page.url | relative_url }}" {% if _page.url==page.url %}class="usa-current" {% endif %}>{{ _page.title }}</a>
        {% if _page.url == page.url and page.anchors%}
        <ul class="usa-sidenav__sublist font-family-sans font-sans-2xs">
          {% for _anchor in page.anchors %}
          <li class="usa-sidenav__item">
            <a href="#{{_anchor.name | slugify}}">{{_anchor.name}}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</aside>