<div class="how-to-get-fast-track-clearance-section">
    <table class="usa-table usa-table--stacked margin-bottom-4 margin-top-05">
        <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Contact information</th>
                <th scope="col">Responsibilities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th data-label="Role" scope="row">
                    <span class="text-bold text-primary text-indigo-cool-50">UX/CX Researcher</span>
                </th>
                <td data-label="Contact information">
                    N/A
                </td>
                <td data-label="Responsibilities">
                    This is you! You are responsible for documenting your research plans and working with PRA Desk Officers to get clearance.
                </td>
            </tr>
            <tr>
                <th data-label="Role" scope="row">
                    <span class="text-bold text-primary text-indigo-cool-50">OMB CX Team</span>
                </th>
                <td data-label="Contact information">
                    <a class="usa-link--external" rel="noreferrer" target="_blank"
                    href="https://community-dc.max.gov/x/8oRMmQ">View contact information for the OMB CX Team here.</a><br> (Login with PIV card required.)
                </td>
                <td data-label="Responsibilities">
                    The primary contact for the A-11 Section 280 process. They oversee all information collection requests under the A-11 Generic Information Collection (A-11 Gen IC) Umbrellas. They also work with the assigned OIRA Desk Officer to approve UX/CX research.
                </td>
            </tr>
            <tr>
                <th data-label="Role" scope="row">
                    <span class="text-bold text-primary text-indigo-cool-50">GSA PRA Desk Officer(s)</span>
                </th>
                <td data-label="Contact information">
                    <a class="usa-link" href="mailto:GSARegSec@gsa.gov">GSARegSec@gsa.gov</a>
                </td>
                <td data-label="Responsibilities">
                    <span class="text-italic">**Please note that the role of the PRA Desk Officer may differ from agency to agency and this information is specific to GSA.**</span><br>
                    They are responsible for entering information about PRA clearances into ROCIS, and can offer additional support throughout the process.
                </td>
            </tr>
            <tr>
                <th data-label="Role" scope="row">
                    <span class="text-bold text-primary text-indigo-cool-50">OIRA PRA Desk Officer</span>
                </th>
                <td data-label="Contact information">
                    You will not need to contact them directly
                </td>
                <td data-label="Responsibilities">
                    They have final approval authority over all PRA clearance requests.
                </td>
            </tr>
        </tbody>
    </table>
    <h3 class="margin-bottom-2">Instructions</h3>
    <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
        <h3 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button" aria-expanded="false"
                aria-controls="documentation">
                1. Documentation
            </button>
        </h3>
        <div id="documentation" class="usa-accordion__content usa-prose">
            <p class="text-bold margin-bottom-05">Download the Generic A-11 Information Collection Review (ICR) template and complete it for your research project.</p>
            <ul class="usa-list">
                <li>Download the form below OR launch the ICR Form Builder to create and ICR form (you do not need to do both).</li>
            </ul>
            <p class="text-bold margin-bottom-05">Attach all completed instruments (forms, surveys, etc.), instructions and scripts to this document to create the Gen IC package.</p>
            <ul class="usa-list">
                <li>Google forms is an allowed platform for public participant recruiting screeners and UX/CX research in GSA.
                    
                    <ul class="usa-list">
                        <li>It is recommended to send Word documents or screenshots for ease of use in providing feedback to submitted materials, as the OMB CX team cannot access Google links.</li>
                    </ul>
                </li>
                <li>
                    Apply the <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://community-dc.max.gov/display/Performance/List+of+Departments+with+A-11+Umbrella+Clearance+for+CX+Research">GSA OMB control number found here</a> (PIV card login required) to all instruments.
                   
                    <ul class="usa-list">
                        <li>Use the "GSA Touchpoints" control number if using a Touchpoints form; otherwise use the generic GSA control number. Contact <a href="mailto:GSARegSec@gsa.gov">GSARegSec@gsa.gov</a> for support if necessary.</li>
                    </ul>                     
                </li>
            </ul>
            <p class="text-bold margin-bottom-05">To avoid common mistakes, please consult the OMB CX Team's <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://community-dc.max.gov/display/Performance/GUIDE+TO+NAVIGATING+THE+A-11+UMBRELLA+CLEARANCE+APPROVAL+PROCESS+FOR+CX+RESEARCH#GUIDETONAVIGATINGTHEA11UMBRELLACLEARANCEAPPROVALPROCESSFORCXRESEARCH-HowdoIfinalizemyinformationcollectioninstrument?">tips on how to finalize the template</a> (PIV card login required).</p>

            <div class="grid-row icr-links text-center">
                <div class="grid-col-12">
                    <div class="content-row height-full">
                        <img src="{{ '/assets/img/download-icon.webp' | relative_url }}" alt="download icon" width="50" height="50" />
                        <a class="usa-button" href="{{ '/uploads/ICR-Template_A11-Section-280-Clearance-v5-13-24-original.docx' | relative_url }}" >Download ICR template</a>
                    </div>
                </div>
            </div>               
        </div>

        <h3 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button" aria-expanded="false"
                aria-controls="preview">
                2. Pre-review
            </button>
        </h3>
        <div id="preview" class="usa-accordion__content usa-prose">
            <p class="text-bold margin-bottom-05">If you would like the OMB CX Team to pre-review your Generic Information Collection (Gen IC) package (including template and all instruments, instructions, and scripts), email it to the OMB CX Team for pre-review.</p>
            <ul class="usa-list">
                <li>They will suggest edits within the document and make sure the Gen IC package is complete.</li>
                <li><a class="usa-link--external" rel="noreferrer" target="_blank" href="https://community-dc.max.gov/x/8oRMmQ">View OMB CX Team contact information here</a> (PIV card login required).</li>
                <li>You should also cc the GSA PRA Desk (<a class="usa-link" href="mailto:GSARegSec@gsa.gov">GSARegSec@gsa.gov</a>).</li>
            </ul>
            <p class="text-bold margin-bottom-05">Make any necessary edits to finalize submission.</p>
            <ul class="usa-list">
                <li>Double check with the OMB CX Team if necessary.</li>
            </ul>          
        </div>

        <h3 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button" aria-expanded="false"
                aria-controls="submission">
                3. Submission
            </button>
        </h3>
        <div id="submission" class="usa-accordion__content usa-prose">
            <p class="text-bold ">Email your finalized Gen IC package to the GSA PRA Desk (cc'ing OMB CX Team).</p>
            <p class="text-bold margin-bottom-05">GSA PRA Desk will upload your Gen IC package into ROCIS.</p>
            <ul class="usa-list">
                <li>They will suggest edits within the document and make sure the Gen IC package is complete.</li>
            </ul>
            <p class="text-bold margin-bottom-05">Make any necessary edits to finalize submission.</p>
            <ul class="usa-list">
                <li>ROCIS is the electronic management system where information collection data gets uploaded and filed. You will not have to interface with this system.</li>
            </ul>          
        </div>

        <h3 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button" aria-expanded="false"
                aria-controls="review">
                4. Review
            </button>
        </h3>
        <div id="review" class="usa-accordion__content usa-prose">
            <p class="text-bold margin-bottom-05">OMB CX Team receives Gen IC package in ROCIS and reviews it.</p>
            <ul class="usa-list">
                <li>OMB CX Team will enter the decision into ROCIS.</li>
                <li>GSA PRA Desk is automatically notified of approval through ROCIS.</li>
            </ul>      
        </div>

        <h3 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button" aria-expanded="false"
                aria-controls="approval">
                5. Approval
            </button>
        </h3>
        <div id="approval" class="usa-accordion__content usa-prose">
            <p class="text-bold margin-bottom-05">OMB CX PRA Team will notify you of the decision by email.</p>
            <ul class="usa-list">
                <li>If denied, you must repeat the process.</li>
                <li>If approved, you may proceed with research!</li>
            </ul>      
        </div>
    </div>
</div>