.usa-footer-primary-section {
  padding: 1rem 0;
}

.usa-footer--text {
  @include u-font("sans", "xs");
}

.usa-footer-secondary-section {
  background-color: #000;
}

.usa-footer-logo-img.digital-gov{
  max-width: 10rem;
}
