.icon-glossary {
  background-image: url("../../img/icon-glossary.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.icon-arrow {
  position: relative;

  &:before {
    content: url("../../img/icon-arrow.svg");
    display: block;
    left: -16px;
    position: absolute;
    top: 0;
  }
}
