$theme-h1-mobile-font-size: "xl";
$theme-h2-mobile-font-size: "lg";
$theme-h3-mobile-font-size: "md";
$theme-h4-mobile-font-size: "sm";
$theme-h5-mobile-font-size: "xs";
$theme-navigation-width:    "desktop";
$theme-identifier-background-color: "indigo-warm-80";
$theme-identifier-primary-link-color: "gray-cool-30";
$theme-identifier-secondary-link-color: "gray-cool-10";
