---
---

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!-- [if gt IE 8]><! -->
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<!-- <![endif] -->

<head>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <!-- Redirect =============== -->
  <meta http-equiv="refresh" content="1; url={{ site.new_url | escape }}">
  <script type="text/javascript">
    window.location.href = "{{ site.new_url | escape }}"
  </script>
</head>

<body>
  {{ site.title | escape }} has moved to <a href="{{ site.new_url | escape }}" title="{{ site.title | escape }}">{{ site.new_url | escape }}</a>.
</body>
</html>
