---
layout: default
class: home
---

<div class="bg-primary text-white margin-bottom-6" id="main-content">
  <div class="grid-container padding-y-6">
    <div class="maxw-tablet font-heading-xl line-height-serif-4 margin-bottom-4">
      The Paperwork Reduction Act (PRA) is a law governing how federal agencies
      collect information from the American public.
    </div>
    <a href="{{'/about/' | relative_url}}" class="usa-button usa-button-secondary">Learn what the PRA does</a>
  </div>
</div>
<div class="grid-container margin-bottom-6 usa-layout-docs-main_content">
  {{ content }}
</div>