---
layout: default
---

<div class="bg-base-lightest margin-bottom-6 padding-y-6" id="main-content">
  <div class="grid-container padding-y-1 font-heading-2xl line-height-serif-3">
    The Paperwork Reduction Act (PRA) is a law affecting how federal agencies collect information from the American public.
  </div>
  <div class="grid-container padding-y-1">
    <a href="/about/" class="usa-button">Learn more</a>
  </div>

</div>
<div class="grid-container margin-bottom-6 usa-layout-docs-main_content">
  {{ content }}
</div>
